@import '../mixins.scss';

.mostrounded {
    border-radius: 25px !important;
    
}

.innershadow {
    box-shadow: inset -3px -4px 5px -1px #5e5e5ebf;
}

Button.light-btn {
    @include light;
    border: none !important;
    font-size: 12px;
   
   & :hover {
     @include light-blue;
     border: none !important;
   }
}

.formtext {
    h1 {
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
    }
    h2 {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: revert;
    }
}



form.cardform {
    width: 80%;
    max-width: 375px;
    box-shadow: 1px 1px 14px 3px #595959;

    button {
    width: 85%;
    max-width: 300px;

        &#login, &#forgetpassword {
            width: 300px;
            }
        }

    .form-control {
        font-size: 12px !important;
        letter-spacing: 2px !important;
    }

    input[type=checkbox] {
        box-sizing: border-box;
        padding: 10px !important;
        margin: -6px -25px !important;
    } 
    
}


.no-shadow {
    box-shadow: none !important;
}




.bg-form {
    background-color: none;
 }


.custom-control-input:checked~.custom-control-label::before {

    border-color: $darkness !important;
    background-color: $darkness !important;
}



@media (min-width: 576px) { 
    .bg-form {
        background-color: none;
     }
}

@media (min-width: 768px) {

    form.cardform {
        max-width: 575px;
        box-shadow: 1px 1px 14px 3px #595959; 
    }

    


    .bg-form {
        background-color: none;
     }
}


@media (min-width: 992px) {
    .bg-form {
        background-color: $gloom;
     }

     form.cardform {
        button {
            &#login, &#forgetpassword {
                width: 200px;
                }
            }
        }
}

@media (min-width: 1200px) {
    .bg-form {
        background-color: $gloom;
     }
}
