.suscriptions-wrapper{
    height: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 44px;
    -webkit-overflow-scrolling: touch;
    border-radius: 25px;
    margin-top: 16px;
    &::-webkit-scrollbar {
        display: none;
      }
      box-shadow: rgba(255,255,255, .4) 0px 0px 52px -40px, inset rgba(255,255,255, .2) -35px 7px 39px -43px ;

    h4 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
        text-shadow: #fff 0px 4px 26px;
    }
}
.suscription {
    flex: 0 0 auto;
    margin-right: 10px;

    background-color: #fff;
    width: 220px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    box-shadow: rgba(255,255,255, .5) 0px 4px 119px -45px, inset #fff -166px 619px 125px -429px;
    cursor: pointer;

    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 28px 20px 28px 20px;
    }

}

@media ( min-width: 1000px) {
    .suscriptions-wrapper{
        height: 100%;
        max-height: 285px;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        column-gap: 44px;
        -webkit-overflow-scrolling: touch;
        border-radius: 25px;
        margin-top: 16px;
        &::-webkit-scrollbar {
            display: none;
          }
          box-shadow: rgba(255,255,255, .4) 0px 0px 52px -40px, inset rgba(255,255,255, .2) -35px 7px 39px -43px ;

        h4 {
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            letter-spacing: 2px;
            text-shadow: #fff 0px 4px 26px;
        }
    }
    .suscription {
        flex: 0 0 auto;

        background-color: #fff;
        width: 220px;
        height: 100%;
        max-height: 285px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
        box-shadow: rgba(255,255,255, .5) 0px 4px 119px -45px, inset #fff -166px 619px 125px -429px;
        cursor: pointer;
    
        h2 {
            font-size: 24px;
            font-weight: 700;
            padding: 28px 20px 28px 20px;
        }

    }
}